// Typography

a {
  color: inherit;
  &:hover {
    color: $color-primary;
  }
}

p {
  font-size: $fs-m;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {

// }

h1 {
  font-size: $fs-xxl;
}
h2 {
  font-size: $fs-xl;
}
h3 {
  font-size: $fs-l;
}
h4 {
  font-size: $fs-m;
}
